@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }


body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
  }

  /* Pages */
.page-header {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background-color: #ffffff;
}


.main-index {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background-color: #ffffff;
}


.welcome {
    font-family: "PT Sans", sans-serif;
    background-image: url("../images/index-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}


.interest-description {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}


.subscription-description {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}


/* link & button */
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

.interest-button {
    font-family: "PT Sans", sans-serif;
    background: #756257;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


.footer-contacts a{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
}

.subscription-button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}


.filter-button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.reset-filter-button {
    background-color: transparent;
    border:0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.select-control a {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #333333;
}

.hotel-card a {
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
}


.pagination-more {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.pagination-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.pagination-item a {
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
}


.pagination-item span {
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
}


.pagination-current {
    font-family: "PT Sans", sans-serif;
    background: #F2F2F2;
}
/* List */
.advantages-list {
    font-family: "PT Sans", sans-serif;
    text-align: center;
}


.interest {
    font-family: "PT Sans", sans-serif;
    text-align: center;
}


.subscription {
    font-family: "PT Sans", sans-serif;
    background-image: url("../images/subscription-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    color:#ffffff;
}


.catalog-sorting {
    font-family: "PT Sans", sans-serif;
    background-image: url("../images/catalog/catalog-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#ffffff;
}

.found-hotels {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

/* Title */
.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
  }


.slogan {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-introduction {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;

}


.interest-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}


.subscription-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.catalog-sorting-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.hotel-card-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}


/* items */
.advantages-item {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.catalog-filter-item {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}


.hotel-card-type {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}


.hotel-card-type {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}


.hotel-card-price {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}


.hotel-card-more {
    font-family: "PT Sans", sans-serif;
    background-color: #756257;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.hotel-card-in-favorites {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    border:0;
}


.hotel-rating {
    font-family: "PT Sans", sans-serif;
    background-color: #F2F2F2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}


.hotel-on-page {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
/* Backgrounds */
.bg-cold-light {
    font-family: "PT Sans", sans-serif;
    background-color: #83b3d3;
    color: white;
    text-transform: uppercase;
}


.bg-cold-light-012 {
    font-family: "PT Sans", sans-serif;
    background-color: rgba(131, 179, 211, 0.12);
    color:black;
}


.bg-cold-light-02 {
    font-family: "PT Sans", sans-serif;
    background-color: rgba(131, 179, 211, 0.2);
    color:black;
}


.bg-none {
    font-family: "PT Sans", sans-serif;
    background-color: #ffffff;
    background-image: none;
    color:black;
}
